/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-Inter);
  font-variation-settings: 'wght' var(--font-weight-inter-normal);
  background-image: var(--gradient);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  inline-size: var(--block-width);
  background: #FFFFFF;
  margin-block: 100px;
  margin-inline: auto;
  padding-inline: var(--header-padding-inline);
  padding-block: var(--header-padding-block);
  border: var(--border);
}

.header__logo-group {
  font-family: var(--font-family-Press);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.header__logo {
  font-size: var(--header-logo-size);
}

.header__title {
  font-size: var(--header-title-size);
  text-transform: uppercase;
  margin-inline: var(--header-title-padding-inline);
  text-wrap: nowrap;
}

.main__block {
  display: grid;
  gap: 50px;
}

.card {
  inline-size: var(--block-width);
  border: var(--border);
  background-color: #fff;
}

.card__title {
  font-variation-settings: "wght" 715;
  font-size: 18px;
  padding-inline: 10px;
  padding-block: 5px;
}

.card__img-block {
  position: relative;
  display: flex;
}

.card__img {
  border-top: var(--border);
  border-bottom: var(--border);
  height: 375px;
  width: 371px;
}

.card__label {
  position: absolute;
  top: 29px;
  right: 25px;
  font-family: var(--font-family-Press);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  color: rgb(0 0 0 / 0.5);
  text-shadow:
  -1px 0 var(--color-shadow), 
  0 1px var(--color-shadow), 
  1px 0 var(--color-shadow), 
  0 -1px var(--color-shadow);
}

@supports((text-stroke: 1px var(--color-shadow)) or (-webkit-text-stroke: 1px var(--color-shadow))) {
  .card__label {
    -webkit-text-stroke: 1px var(--color-shadow);
    text-stroke: 1px var(--color-shadow);
    text-shadow: none;
  }
}

.card__description-block {
  font-size: 18px;
  line-height: 21px;
  margin: 25px;
  display: grid;
  gap: 25px;
  font-variation-settings: "wght" 410;
}

.card__button-block {
  display: flex;
  gap: 6px;
  justify-content: end;
  margin: 25px;
}

.card__icon-button {
  background: transparent;
  border: transparent;
}

.card__like-button {
  padding-block: 10.5px;
  padding-inline: 35px;
  border: var(--border);
  background: transparent;
}

.button__text {
  font-family: var(--font-family-Press);
  font-size: 14px;
  line-height: 90%;
}